/*Selector{
	Property: value;
}
*/
* {
	text-align: right;
}
body {
	background-image: url(backgroundimage2.jpg);
	background-size: cover;
}
h2, p {
	color: #F26671;
	text-align: center;
	border: 5px solid pink;
	cursor: pointer;
}
p {
	color: #8C251C;
	text-decoration: underline;
	line-height: 20px;
	font-style: italic;
	font-weight: bold;
	font-size: 110%;
	font-family: 'Open Sans', sans-serif;
}
img {
	float: left;
}

footer{
	clear: both;
	text-align: center;
}

li {
	list-style: none;
	display: inline-block;
}

.webtext {
	border: 5px dashed #F26680;
}

.active {
	color: white;
}

#div1 {
	background: #F2D8DC;


}
#div2 {
	background: #ECF2D8;
	

}