/*Selector{
	Property: value;
}
*/
* {
	text-align: right;
}
body {
	background-image: url(backgroundimage2.jpg);
	background-size: cover;
}
h2,p {
	color: #F26671;
	text-align: center;
	border: 5px solid pink;
	cursor: pointer;
}
p {
	color: black;
	
}

li {
	list-style: none;
	display: inline-block;
}

.webtext {
	border: 5px dashed #F26680;
}

.active {
	color: red;
}

#div1 {
	background: #F2D8DC;


}
#div2 {
	background: #ECF2D8;
	

}